*{padding: 0;margin: 0;box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    color:#707070;
}
a{
    text-decoration: none;
    transition: all .3s;
}
a:hover{
    color:#0056b3;
}
li,ul,ol{
    list-style: none;
    margin-bottom: 0;
}
button,input,textarea,select{
    outline: none;
}
img{
    width:100%
}
.hero-section{
    margin-top: 100px;
}
.main-btn{
    background:#0056b3;
    color: #fff;
    border-radius: 5px;
    padding:8px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
}